<?xml version="1.0" encoding="UTF-8"?>
<!-- classpath:== src/main/resources-->
<!-- classpath:/mybatis/mybatisConfig.xml -->
<!-- mybatis 환경 설정 파일 -->
<!-- DTD(문서 타입 정의) Document Type Definition
XML(마크업) 문서의 구조 및 해당 문서에 사용할수있는 적법한 요소와 속성의 정의 -->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.model.MemberDTO" alias="member"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mappers/MemberMapper.xml"/>
   		<mapper resource="mybatis/mappers/userMapper.xml"/>
    </mappers>
</configuration>