<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.BoardMapper">

    <select id="getNoticeListPaging" resultType="com.project.model.BoardDTO">
	    SELECT * FROM (
	        SELECT rownum rnum, a.* FROM (
	            SELECT 
	                NOTICE_NO as notice_no, 
	                TITLE as title, 
	                CONTENT as content, WRITER as writer,
	                COUNT as count, 
	                STATUS as status,
	                TO_CHAR(INDATE, 'YYYY-MM-DD') as indate
	            FROM BOARD
	            WHERE BOARD_TYPE = 'NOTICE'
	            
	            <choose>
				    <when test='sortType != null and sortType == "count"'>
				        ORDER BY COUNT DESC, NOTICE_NO DESC
				    </when>
				    <otherwise>
				        ORDER BY NOTICE_NO DESC
				    </otherwise>
				</choose>
	            
	        ) a WHERE rownum &lt;= #{pageEnd}
	    ) WHERE rnum &gt;= #{pageStart}
	</select>

<select id="selectBoardListPaging" resultType="com.project.model.BoardDTO">
    SELECT * FROM (
        SELECT rownum rnum, a.* FROM (
            SELECT 
                NOTICE_NO as notice_no, TITLE as title, WRITER as writer,
                COUNT as count, STATUS as status,
                TO_CHAR(INDATE, 'YYYY-MM-DD') as indate
            FROM BOARD
            WHERE BOARD_TYPE = #{boardType} AND STATUS = 'Y'
            
            <choose>
			    <when test='sortType != null and sortType == "count"'>
			        ORDER BY COUNT DESC, NOTICE_NO DESC
			    </when>
			    <otherwise>
			        ORDER BY NOTICE_NO DESC
			    </otherwise>
			</choose>
            
        ) a WHERE rownum &lt;= #{pageEnd}
    ) WHERE rnum &gt;= #{pageStart}
</select>


    <select id="getBoardCount" resultType="int">
    SELECT COUNT(*) FROM BOARD 
    WHERE BOARD_TYPE = #{boardType}
    <if test="status != null">
        AND STATUS = #{status}
    </if>
</select>

    <select id="getNoticeCount" resultType="int">
        SELECT COUNT(*) FROM BOARD 
        WHERE BOARD_TYPE = 'NOTICE'
    </select>

    <update id="updateBoardStatus">
        UPDATE BOARD 
        SET STATUS = #{status} 
        WHERE NOTICE_NO = #{notice_no}
    </update>

    <select id="getUnansweredCount" resultType="int">
        SELECT COUNT(*) FROM BOARD 
        WHERE BOARD_TYPE = 'QNA' AND IS_REPLY = 0 AND STATUS = 'Y'
    </select>

    <select id="selectBoardDetail" parameterType="int" resultType="com.project.model.BoardDTO">
    SELECT 
        NOTICE_NO as notice_no, 
        TITLE as title, 
        CONTENT as content, 
        WRITER as writer, 
        BOARD_TYPE as board_type, 
        COUNT as count, 
        IS_REPLY as is_reply, 
        PARENT_NO as parent_no, 
        STATUS as status,
        FILE_STR as file_str,       ORG_FILENAME as org_filename, TO_CHAR(INDATE, 'YYYY-MM-DD HH24:MI:SS') as indate 
    FROM BOARD 
    WHERE NOTICE_NO = #{notice_no}
</select>

    <insert id="insertBoard" parameterType="com.project.model.BoardDTO">
    INSERT INTO BOARD (
        TITLE, CONTENT, WRITER, BOARD_TYPE, PARENT_NO, IS_REPLY, STATUS, FILE_STR, ORG_FILENAME
    )
    VALUES (
        #{title}, #{content}, #{writer}, #{board_type}, #{parent_no}, #{is_reply}, 'Y', #{file_str}, #{org_filename}
    )
</insert>

    <update id="updateCount" parameterType="int">
        UPDATE BOARD SET COUNT = COUNT + 1 WHERE NOTICE_NO = #{notice_no}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM BOARD WHERE NOTICE_NO = #{notice_no}
    </delete>
<select id="selectQnaListPaging" resultType="com.project.model.BoardDTO">
    SELECT * FROM (
        SELECT rownum rnum, a.* FROM (
            SELECT 
                NOTICE_NO as notice_no, 
                TITLE as title, 
                WRITER as writer,
                COUNT as count, 
                STATUS as status,
                TO_CHAR(INDATE, 'YYYY-MM-DD') as indate
            FROM BOARD
            WHERE BOARD_TYPE = 'QNA' AND STATUS = 'Y'
            ORDER BY NOTICE_NO DESC
        ) a WHERE rownum &lt;= #{pageEnd}
    ) WHERE rnum &gt;= #{pageStart}
</select>
</mapper>