<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.BoardMapper">

<sql id="boardSearch">
    <if test="searchType != null">
        <if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
        <if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
        <if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
    </if>
</sql>
<select id="selectBoardList" parameterType="com.project.util.SearchCriteria" resultType="com.project.model.BoardDTO">
    SELECT * FROM BOARD 
    WHERE BOARD_TYPE = #{boardType} 
    ORDER BY NOTICE_NO DESC
</select>

    <select id="selectBoardListPaging" resultType="com.project.model.BoardDTO">
    SELECT * FROM (
        SELECT rownum rnum, a.* FROM (
            SELECT * FROM BOARD 
            WHERE BOARD_TYPE = #{boardType}
            <include refid="boardSearch" />
            ORDER BY NOTICE_NO DESC
        ) a WHERE rownum &lt;= #{pageEnd}
    ) WHERE rnum &gt;= #{pageStart}
</select>

<select id="getBoardCount" resultType="int"> 
    SELECT COUNT(*) FROM BOARD 
    WHERE BOARD_TYPE = #{boardType}
    <include refid="boardSearch" />
</select>
  
    <select id="selectBoardDetail" parameterType="int" resultType="com.project.model.BoardDTO">
        SELECT * FROM BOARD WHERE NOTICE_NO = #{notice_no}
    </select>

    <insert id="insertBoard" parameterType="com.project.model.BoardDTO">
        INSERT INTO BOARD (TITLE, CONTENT, WRITER, BOARD_TYPE)
        VALUES (#{title}, #{content}, #{writer}, #{board_type})
    </insert>

    <update id="updateCount" parameterType="int">
        UPDATE BOARD SET COUNT = COUNT + 1 WHERE NOTICE_NO = #{notice_no}
    </update>

	<sql id="noticeSearch">
    AND BOARD_TYPE = 'NOTICE'
    
    <if test="searchType != null">
        <choose>
            <when test="searchType == 't'.toString()">
                AND TITLE LIKE '%' || #{keyword} || '%'
            </when>
            <when test="searchType == 'w'.toString()">
                AND WRITER LIKE '%' || #{keyword} || '%'
            </when>
            <when test="searchType == 'tc'.toString()">
                AND (TITLE LIKE '%' || #{keyword} || '%' OR CONTENT LIKE '%' || #{keyword} || '%')
            </when>
        </choose>
    </if>
</sql>
	
	<!-- 검색기능(수정 확인 용도 - 끝나면 제거) -->
	<select id="noticeListPaging" resultType="com.project.model.BoardDTO">
	    SELECT 
	        NOTICE_NO as notice_no,
	        TITLE as title,
	        WRITER as writer,
	        INDATE as indate,
	        COUNT as count,
	        BOARD_TYPE as board_type
	    FROM BOARD
	    WHERE 1=1
	    <include refid="noticeSearch" />
	    ORDER BY NOTICE_NO DESC
	    OFFSET #{pageStart} ROWS FETCH NEXT #{perPageNum} ROWS ONLY
	</select>
	
	<select id="noticeCount" resultType="int">
	    SELECT COUNT(*) FROM BOARD
	    WHERE 1=1
	    <include refid="noticeSearch" />
	</select>
	
	<sql id="qnaSearch">
	    AND BOARD_TYPE = 'QNA'
	    <if test="searchType != null">
	        <choose>
	            <when test="searchType == 't'.toString()">
	                AND TITLE LIKE '%' || #{keyword} || '%'
	            </when>
	            <when test="searchType == 'w'.toString()">
	                AND WRITER LIKE '%' || #{keyword} || '%'
	            </when>
	            <when test="searchType == 'tc'.toString()">
	                AND (TITLE LIKE '%' || #{keyword} || '%' OR CONTENT LIKE '%' || #{keyword} || '%')
	            </when>
	        </choose>
	    </if>
	</sql>
	
	<select id="qnaListPaging" resultType="com.project.model.BoardDTO">
	    SELECT * FROM BOARD
	    WHERE 1=1
	    <include refid="qnaSearch" />
	    ORDER BY NOTICE_NO DESC
	    OFFSET #{pageStart} ROWS FETCH NEXT #{perPageNum} ROWS ONLY
	</select>
	
	<select id="qnaCount" resultType="int">
	    SELECT COUNT(*) FROM BOARD
	    WHERE 1=1
	    <include refid="qnaSearch" />
	</select>
	<!-- 검색기능 끝(수정 확인 용도 - 끝나면 제거) -->

</mapper>