<?xml version="1.0" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.FooterMapper">

    <insert id="insertInquiry" parameterType="com.project.model.FooterInquiryVO">
        INSERT INTO footer_inquiry (
            inquiry_no,
            user_name,
            user_email,
            user_content,
            is_answered,  reg_date
        ) VALUES (
            seq_inquiry_no.nextval,
            #{user_name},
            #{user_email},
            #{user_content},
            'N',           SYSDATE        )
    </insert>

    <select id="selectAllInquiries" resultType="com.project.model.FooterInquiryVO">
        SELECT 
            inquiry_no,
            user_name,
            user_email,
            user_content,
            reply_content,
            is_answered,
            reg_date
        FROM footer_inquiry
        ORDER BY inquiry_no DESC
    </select>

</mapper>