<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.HotDealMapper">

    <insert id="upsertHotDeal" parameterType="com.project.model.HotDealDTO">
        MERGE INTO TB_HOTDEAL_TRACKER t
        USING DUAL
        ON (t.ORIGIN_URL = #{originUrl})
        WHEN MATCHED THEN
            UPDATE SET 
                t.TITLE = #{title},
                t.CURRENT_PRICE = #{currentPrice},
                t.IMAGE_URL = #{imageUrl}, t.LAST_UPDATE_DATE = SYSDATE
        WHEN NOT MATCHED THEN
            INSERT (ORIGIN_URL, TITLE, IMAGE_URL, CURRENT_PRICE, START_PRICE, MALL_NAME, COMMUNITY_NAME, LAST_UPDATE_DATE)
            VALUES (#{originUrl}, #{title}, #{imageUrl}, #{currentPrice}, #{currentPrice}, #{mallName}, #{communityName}, SYSDATE)
    </insert>

    <select id="getRecentDeals" resultType="com.project.model.HotDealDTO">
    SELECT * FROM (
        SELECT * FROM TB_HOTDEAL_TRACKER  ORDER BY LAST_UPDATE_DATE DESC    ) WHERE rownum &lt;= 10
</select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM TB_HOTDEAL_TRACKER
    </select>

    <select id="getLastCollectTime" resultType="string">
        SELECT NVL(TO_CHAR(MAX(LAST_UPDATE_DATE), 'YYYY-MM-DD HH24:MI:SS'), '-') 
        FROM TB_HOTDEAL_TRACKER
    </select>
<select id="getRecentDealsPaging" resultType="com.project.model.HotDealDTO">
    SELECT * FROM (
        SELECT rownum rnum, a.* FROM (
            SELECT * FROM TB_HOTDEAL_TRACKER  ORDER BY LAST_UPDATE_DATE DESC    ) a WHERE rownum &lt;= #{pageEnd}
    ) WHERE rnum &gt;= #{pageStart}
</select>
</mapper>